body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

html{
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  width: calc(100% - 2px);
  padding: 0 0.25em;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 90px;
  text-decoration: underline;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


h4{
  color: blue;
  margin-top: .2em;
  display: inline;
}

.Link {
  display: inline-block;
}

img{
  border: 5px solid black;
  position: absolute;
  left: 1.9%;
  margin-top: -15px;
}

.centerTitle {
  display: flex;
  justify-content: center;
}

.coolshadow{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
}

.increasefont{
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
  text-indent: 50px;
}


button{
  float: left;
  display:block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 1.5vw;
}

.button{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.button2{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #6a82fb, #fc5c7d);
}



.increasefont2{
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
  text-indent: 50px;
}

h1{
  text-decoration-line: underline;
}

.topstuff{
  top: 500px;
}


.coolshadowheading{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: left;
  align-items: center;
}

.uleft{
  text-indent: 260px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
  justify-content: center;
}

.tinyuleft{
  text-indent: 288px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
}

.decreasesize{
  width: 330px;
}

.sizemerge{
  width: 220px;
}

.miduleft{
  text-indent: 360px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
}

.sizebubble{
  width: 345px;
}

.tinuleft{
  text-indent: 380px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
}

.decreasesize2{
  width: 315px;
}

.tileft{
  text-indent: 350px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
}

.decreasesize3{
  width: 195px;
}

.tleft{
  text-indent: 240px;
  position:relative;
  font-size: 25px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  display: flex;
}